@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(0.4rem);
            transform: translateX(0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(0.4rem);
            transform: translateX(0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  80% {
    -webkit-transform: translateX(-0.4rem);
            transform: translateX(-0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  80% {
    -webkit-transform: translateX(-0.4rem);
            transform: translateX(-0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  70% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  70% {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  margin-bottom: 4rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 3rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin: 0 auto;
  /* cubic-bezier is alternate to this. */
  /* animation-iteration-count: 3; */
  /* animation-delay: 1s; */
}

.heading-primary--sub {
  display: block;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 1.2rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#1c2e44), to(#074177b0));
  background-image: linear-gradient(to right, #1c2e44, #074177b0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(6deg) scale(1.05);
          transform: skewY(2deg) skewX(6deg) scale(1.05);
  text-shadow: 0.2rem 0.2rem 0.4rem #4444446e;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transform: uppercase;
          transform: uppercase;
}

.paragraph {
  font-size: 1.2rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
}

.btn:hover {
  -webkit-transform: translateY(-0.09rem) scale(1.02);
          transform: translateY(-0.09rem) scale(1.02);
  -webkit-box-shadow: 0 0.5rem 0.2rem #5252526e;
          box-shadow: 0 0.5rem 0.2rem #5252526e;
}

.btn:hover:after {
  -webkit-transform: scaleX(1.4) scaleY(1.5);
          transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.05rem) scale(0.99);
          transform: translateY(-0.05rem) scale(0.99);
  -webkit-box-shadow: 0 0.65rem 0.05rem #444444a2;
          box-shadow: 0 0.65rem 0.05rem #444444a2;
}

.btn--white {
  background-color: #fff;
  color: #1c2e44;
  letter-spacing: 0.4rem;
  font-weight: 600;
  -webkit-box-shadow: 0 0.3rem 0.05rem #4444446e;
          box-shadow: 0 0.3rem 0.05rem #4444446e;
}

.btn--white::after {
  background-color: rgba(140, 203, 255, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.7s ease-out 0.4s;
          animation: moveInBottom 0.7s ease-out 0.4s;
  /* style of anime implement before it happen opacity 0 */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#89d3f541), to(#074177b0)), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, #89d3f541, #074177b0), url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 100%);
          clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 5rem;
  padding: 1rem;
}

.header__text-box {
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.section-about {
  background: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
/*# sourceMappingURL=main.css.map */